/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/*--------------------------------------------------------------------------------- */
body{
    /* border: 5px solid purple; */
    padding: 30px;  
    margin: 0 auto;
}
div.container{
    /* border: 2px solid red; */
    padding: 20px;
    width: 100%;
}
div.container-items{
    border: 1px solid blue;
    margin: 10px;
    padding:10px;
}
/* ---------------------------Nav Bar---------------------------------------------- */
div.container-items section.top-page{
display:flex;
justify-content: space-around;
}
div.container-items section.top-page nav a{
    text-decoration: none;
    color:grey;
    margin: 0 35px 0 35px;
}
div.container-items section.top-page img.logo{
    /* text-align: right; */
}
@media(max-width: 800px){
    div.container-items section.top-page{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        /* border:1px solid red; */
        }
        div.container-items section.top-page img.logo{
            /* border:2px solid purple; */
            display:block;
            width:40%;

        }
        div.container-items section.top-page nav{
            display:flex;
            justify-content: space-around;
            text-decoration: none;
            color:grey;
            /* border:1px solid orange; */
        }
}@media(max-width: 500px){
    div.container-items section.top-page{
        display:flex;
        flex-direction: column-reverse;  
        padding:0;      
    }
        div.container-items section.top-page img.logo{
            border-bottom: 1px solid grey;
            width:85%;
        }
        div.container-items section.top-page nav{
            width:100%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            color:grey;
            padding:5px;
        }
        div.container-items section.top-page nav a{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin:5px;
            width: 90%;
            border-bottom:1px solid grey;
        }
}
/* ---------------------------header---------------------------------------------- */
div.container-items header section.header-items{
        display: inline-block;
        margin: 10px;
}
div.container-items header div.header-section{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    border-bottom: 2px solid black;
}
div.container-items header section.header-items h1{
    font-size: 75px;
}
div.container-items header section.header-items button{
    border: 1px solid black;
    font-size: 30px
}
div.container-items header section.header-items button:hover{
    background: black;
    color: white;
    font-size: 35px;
}

@media(max-width:800px){
    div.container-items header div.header-section img{
        display:none;
    }
}
@media(max-width: 500px){
    div.container-items header section.header-items h1{
        font-size: 45px;
    }
    div.container-items header section.header-items button{
        border: 1px solid black;
        font-size: 20px
    }
    div.container-items header section.header-items button:hover{
        background: black;
        color: white;
        font-size: 24px;
    }
}
/* ---------------------------header-top and img------------------------------------- */
div.container-items div.top-body{
    /* border: 1px solid orange; */
    display: flex;
}
div.container-items img.middle-img{
    width:100%;
}
div.container-items div.top-body section.top-body-items{
    /* border: 1px solid black; */
}
@media(max-width:800px){
    div.container-items img.middle-img{
        width:90%;
    }
}
@media(max-width: 500px){
    div.container-items div.top-body{
        flex-direction: column;
    }
    div.container-items div.top-body section.top-body-items{
        margin: 10px;
    }
}
/* ---------------------------header bottom--------------------------------------- */
div.container-items div.bottom-body{
    /* border: 1px solid orange; */
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
@media(max-width: 500px){
    div.container-items div.bottom-body{
        flex-direction: column;
    }
    div.container-items div.bottom-body section.bottom-body-middle {
        margin-top: 10px;
    }
    div.container-items div.bottom-body section.bottom-body-left {
        margin-top: 10px;
    }
}
/* ---------------------------contact--------------------------------------- */


/* ---------------------------footer--------------------------------------- */
footer{
    display: flex;
    justify-content: center; 
}



/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ---------------------------Tablet--------------------------------------- */
/* ------------------------------------------------------------------------- */
